COUCHDB_USER=admin
COUCHDB_PASSWORD=pass
COUCH_URL=http://admin:pass@couchdb:5984
S3_ENDPOINT_URL=http://minio:9000
S3_BUCKET=couchdb-backups
STORAGE_PROTOCOL=s3
STORAGE_ROOT=
# Local disk example:
# STORAGE_PROTOCOL=file
# STORAGE_ROOT=/var/backups/couchdb
# S3_BUCKET=/var/backups/couchdb
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_REGION=us-east-1
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
BASIC_USER=admin
BASIC_PASS=admin
API_PREFIX=
